div {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.drive-icon {
    background-position: center;
    display: inline-block;
    height: 35%;
    width: 15%;
    
}

.currency-icon {
    background-position: right;
    display: inline-flex;
    height: 35%;
    width: 15%;
    float: left;
    margin-top: 4%;
    
}

.converter-icon {
    background-position: left;
    display: inline-flex;
    height: 20%;
    width: 10%;
    float: right;
    margin-top: 7%;
}

.column {
    text-align: center;
}

.aHeader {
    margin: 80%;
    padding: 80%;
    font-weight: bold;
}

.langTxt {
    margin: 1%;
}

.countTxt {
    margin: 5%
}

/* .curInput {
    width: 0px;
} */

.curResults {
    display:flex;
    justify-content: center;
}